<div class="row">
    <div class="card col-3 mr-5 mb-5" style="width: 18rem;">
        <img class="card-img-top" src="https://media.istockphoto.com/id/911995140/photo/camping-tent-in-a-camping-in-a-forest-by-the-river.jpg?b=1&s=612x612&w=0&k=20&c=2hzFAg7OfhJXZ6SFIzTZxctAImwdJ_1QBtnZPgoJMgM=" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card col-3 mr-5 mb-5" style="width: 18rem;">
        <img class="card-img-top" src="https://media.istockphoto.com/id/911995140/photo/camping-tent-in-a-camping-in-a-forest-by-the-river.jpg?b=1&s=612x612&w=0&k=20&c=2hzFAg7OfhJXZ6SFIzTZxctAImwdJ_1QBtnZPgoJMgM=" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card col-3 mr-5 mb-5" style="width: 18rem;">
        <img class="card-img-top" src="https://media.istockphoto.com/id/911995140/photo/camping-tent-in-a-camping-in-a-forest-by-the-river.jpg?b=1&s=612x612&w=0&k=20&c=2hzFAg7OfhJXZ6SFIzTZxctAImwdJ_1QBtnZPgoJMgM=" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-3 mr-5" style="width: 18rem;">
        <img class="card-img-top" src="https://media.istockphoto.com/id/911995140/photo/camping-tent-in-a-camping-in-a-forest-by-the-river.jpg?b=1&s=612x612&w=0&k=20&c=2hzFAg7OfhJXZ6SFIzTZxctAImwdJ_1QBtnZPgoJMgM=" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        
      </div>
      <div class="card col-3 mr-5" style="width: 18rem;">
        <img class="card-img-top" src="https://media.istockphoto.com/id/911995140/photo/camping-tent-in-a-camping-in-a-forest-by-the-river.jpg?b=1&s=612x612&w=0&k=20&c=2hzFAg7OfhJXZ6SFIzTZxctAImwdJ_1QBtnZPgoJMgM=" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
</div>
</div>